@{
    ViewData["Title"] = "SHOW TEMP";
    string[] tableHead = new string[] { "Player ID", "Jersey", "First name", "Surname", "Position", "Birthday", "Weight",
        "Height", "Birth city", "Birth state", "Delete"};
}

<div class="text-center">
    <form asp-action="DeleteTemp" method="post">
    <table class="table, table-bordered">
        <thead>
            <tr>
                @{
                    foreach (var headInfo in tableHead)
                    {
                        <th>
                            @headInfo
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.playerID</td>
                            <td>@Data.jersey</td>
                            <td>@Data.fname</td>
                            <td>@Data.sname</td>
                            <td>@Data.position</td>
                            <td>@Data.birthday</td>
                            <td>@Data.weight</td>
                            <td>@Data.height</td>
                            <td>@Data.birthcity</td>
                            <td>@Data.birthstate</td>
                            <td><button type="submit" value="@Data.playerID"class="form-control" name="PlID">Delete</button></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    </form>
</div>
